# Server port
PORT=3001

# Base URLs for upstream services
# supplier-optin admin (offers-supplieradmin)
SUPPLIER_OPTIN_ADMIN_BASE_URL=http://int.meesho.int/offers-supplieradmin

# offer-platform-go admin
OFFER_PLATFORM_BASE_URL=http://int.meesho.int/offer-platform-go

# auth token for upstream calls (if required)
INTERNAL_AUTH_TOKEN=
